<p>
  <strong>Titulo:</strong>
  <%= @receta.titulo %>
</p>
 
<p>
  <strong>Ingredientes:</strong>
  <%= @receta.ingredientes %>
</p>

<p>
  <strong>Modo_preparacion:</strong>
  <%= @receta.modo_preparacion %>
</p>
 
<%= link_to '<- Back', recetas_path %>